  <!--Gallery Page Section-->
    <section class="blog-grid-section"  >
      <div class="auto-container">
          
            <div class="row clearfix">
               
              <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-7.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury  PLot $1500 lifetime</a></h3>
                           
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-9.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-10.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-11.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-12.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-13.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-detail.html"><img src="images/resource/news-14.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury home $1500 lifetime</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Tristique pellentesque quis eu eros. Cras bibendum posuere luctus. Etiam convallis maximus metus ornare blandit massa cursus.</div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <!--Btn Box-->
            <div class="btn-box text-center">
              <a href="#" class="theme-btn btn-style-two">Load More</a>
            </div>
            
        </div>
    </section>
    <!--End Gallery Page Section-->