 <section class="blog-grid-section" style="padding: 299px 0px 125px;">
      <div class="auto-container">
          
            <div class="row clearfix">
            
               
              <!--News Block--> <h1 style="text-align: center;"> Plot On Sale</h1>
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">

                     <%= link_to image_tag("resource/news-8.jpg", border: 0), {action: 'index', controller: 'sale_plot_details'}, {class: 'dock-item'} %>
                        </div>
                        <div class="lower-content">
                          <h3><a href="blog-detail.html">Luxury PLot $1500 lifetime</a></h3>
                            <div class="post-date">Town Name <span>10:00PM</span></div>
                            <div class="post-date">Plot Prize <span>10:00PM</span></div>
                            <div class="post-date">Plot Size <span>10:00PM</span></div>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                        </div>
                    </div>
                </div>
                
    
    
                
    
                
            </div>
            
            <!--Btn Box-->
            <div class="btn-box text-center">
              <a href="#" class="theme-btn btn-style-two">Load More</a>
            </div>
            
        </div>
    </section>