    <div class="sidebar-page-container" style="margin-top: 90px;">
      <div class="auto-container">
          <div class="row clearfix">
              
                <!--Content Side / Blog Classic-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                  <div class="blog-detail">
            <div class="inner-box">
              <h2>Duplex home purchase for future</h2>
                            <ul class="post-info">
                                <li>Price - <span><%= @plot.total_price %></span></li>
                                <li>Area Sq-ft - <span><%= @plot.area.to_i %></span></li>
                            </ul>
                            <div class="big-image">
                              <img src="images/resource/news-15.jpg" alt="" />
                            </div>
                            <div class="text">
                              <p><%= @plot.description %></p>   
                            </div>
                            <!--post-share-options-->
                        </div>
                        <!--Author Box-->
                        <!--Comments Area-->
                        
                        <!-- Comment Form -->
                        <div class="comment-form">
                                
                            <div class="group-title"><h2>Write Your Comment</h2></div>
                            
                            <!--Comment Form-->
                            <form method="post" action="http://themebunch.com/html/sproperty/blog.html">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="username" placeholder="Your Name" required>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <input type="email" name="email" placeholder="Email Address" required>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <textarea class="darma" name="message" placeholder="Type Comment"></textarea>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Comment</button>
                                    </div>
                                    
                                </div>
                            </form>
                                
                        </div>
                        <!--End Comment Form -->
                        
                    </div>
                </div>
                
                <!--Sidebar Side-->
                        <!-- Popular Category -->
               
                        
                        <!-- Latest Posts -->                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>